:root {
    /* --background-primary: #1f2d41;
    --background-secondary: #ef233c;
    --footer-background: #d00f27; */
    --background-primary: #3083dc;
    --background-secondary: #011627;
    --footer-background: #040c13;
}

/* 291f1e */
